
html{
 background-image: url(images/skymc3b.jpg);
    background-size: cover;
}

body{
    
}

@font-face{
    font-family: 'rainyhearts';
    src: url(rainyhearts.ttf)
}

.main {
    width: 1000px;
    height: 790px;
    display: block;
    position: relative;
    margin-left: 160px; /* might change this and right margin back to auto*/
    margin-right: auto;
    margin-bottom: auto;
    margin-bottom: 0px;
    border-width: 4px;
    border-color: #f095ad;
    border-style: solid;
    background-color: #fdf6f6;
}


.abtme{
    width: 350px;
    height: 350px;
    margin: auto;
    background-color: #fdf6f6;
    text-align: center;
    border-style: solid;
    border-color: #f2a2b7;
    margin-top: 5px;
    overflow-y: auto;
}
.socials{
    border-style: solid;
    height: 692px;
    width: 100px;
    margin-top: -410px;
    margin-left: -140px;
    border-width: 0px;
}

.chatbox{
    width: 200px;
    height: 504px;
    position: absolute;
    margin-left: 750px;
    margin-top: -330px;
    border-style: solid;
    border-color: #f2a2b7;
    text-align: center;
    
}

.worker{
    position: absolute;
    margin-left: 149px;
    margin-top: 3px;
    transform: rotate(-3deg);
}

.blinkies{
    border-style: solid;
    height: 700px;
    width: 150px;
    position: absolute;
    left: 1010px;
    bottom: 0px;
    border-width: 0px; 
}

.cathammock{
   margin-left: 600px;
}
.welcome{
    border-style: solid;
    height: 70px;
    width: 730px;
    margin-left: 300px;
    margin-bottom: 2px;
    background-color: #fdf6f6;
    border-color: #f2a2b7;
}
.ytchannel{
    width: 200px;
    margin-left: -24px;
    margin-top: 30px;
    transform: rotate(-20deg)
}
.ytchannel:hover {
content: url("images/ytchannel.png");
}
.disc{
    width: 220px;
    margin-left: -20px;
    margin-top: 30px;
    transform: rotate(10deg);
}
.neocity{
    width: 200px;
    margin-left: -16px;
    transform: rotate(-5deg);
    margin-top: 25px;
}
.luckycat{
    float: right;
    width: 100px;
    object-fit: contain;
    margin-top: -18px;
}

.kaomojiwave{
    width: 70px;
    margin-top: 0px;
}

.welcomegif{
    object-fit: contain;
    width: 556px;
    margin-top: 3px;
}
h1{
    margin-top: 0px;
    font-family: rainyhearts;
    font-size: 40px;
}
.imachild{
    color: red;
}
.dateabtme{
    display: block;
}
p{
    font-family: rainyhearts;
    font-size: 15px;
}

.whatthisisfor{
    border-style: solid;
    width: 250px;
    height: 250px;
    border-color: black; 
    position: absolute;
    margin-top: -20px;
    margin-left: 40px;
    font-family: rainyhearts;
    background-color: #fdf6f6;
    border-color: #f2a2b7;
    text-align: center;
    

}

.kiryu{
    width: 100px;
    margin-top: -120px;
    margin-left: 1200px;
    position: absolute;
}

#statuscafe {
    width: 200px;
    height: 60px;
    padding: 8px;
    background-color: azure;
    border: 1px solid midnightblue;
    margin-left: 30px;
    margin-top: 3px;
}
#statuscafe-username {
    margin-bottom: 4px;
    font-family: rainyhearts;
    font-size: 15px;
}
#statuscafe-content {
    margin: 0 16px 8px 16px;
    font-family: rainyhearts;
    font-size: 15px;
}

.blog{
    border-style: solid;
    position: absolute;
    width: 400px;
    height: 300px;
    margin-left: 320px;
    margin-top: 6px;
    border-color: #f2a2b7;
    background-color: #fdf6f6;
    text-align: center;
    overflow-y: auto;
}

.updates{
    border-style: solid;
    position: absolute;
    width: 160px;
    height: 140px;
    margin-left: 770px;
    margin-top: 190px;
    border-color: #f2a2b7;
    background-color: #fdf6f6;
    text-align: center;
    overflow-y: auto;
}

.updates>h3{
    margin: 0px;
    font-family: rainyhearts;
    text-decoration: underline;
    
}

.updates>h4{
    margin-bottom: 0px;
    color: red;
}

.updates>p{
    margin-top: 0px;
}

h2{
    margin-top: 0px;
    font-size: 29px;
    font-family: rainyhearts;
}
h4{
    font-family: rainyhearts;
}
.egg{
    position: inherit;
    margin-left: 45px
    
}
.eggdiv{
    width: 120px;
    height: 50px;
    margin-left: 1000px;
    margin-top: -160px;
    align-items: center;
}
.eggdiv>p{
  margin: 0px;  
}

.counterorange{
    margin-left: 210px;
    margin-top: -55px;
    width: 100px
}

.counterorange2{
    margin-left: 50px;
    width: 200px;
    
}

.footer{
    background-color:  #fdf6f6;
    height: 18px;
    margin-bottom: 3px;
    width: 1000px;
    margin-left: 170px;
    border-style: solid;
    border-width: 1px;
    border-color: #f2a2a2;
    position: absolute;
}

.guestbook{
    position: absolute;
    width: 190px;
    margin-top: -250px;
    margin-left: 60px;
    
}

.footer>p{
    font-size: 16px;
    display: inline;
    margin-left: 20px;
    color: #f80e0e;
}

  
#pvz{
    width: 150px;
}

.mythicalland{
    position: absolute;
    z-index: 1;
    margin-left: 1200px;
    width: 150px;
    margin-top: -50px;
    
}

.bounce{
    font-family: rainyhearts;
    position: absolute;
    display: inline;
    animation-name: mybounce;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes mybounce{
    from{
       margin-left: 699px;
    }
    
    to{
      margin-left: 5px;
    }
}

