body {
    width: 800px;
    height: 2000px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-bottom: 0px;
    border-width: 4px;
    border-color: #b78e59;
    border-style: solid;
    background-color: #f2b582;
}
html{
    background-color: skyblue;
}
.footer{
    border-top: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 40px;
    width: 800px;
    margin: auto;
    position: absolute;
    bottom: 0;
    border-color: white;
    border-style: solid;
}
.main{
    width: 700px;
    height: 400px;
    margin: auto;
    background-color: #b78e59;
    text-align: center;
}
.worker{
    position: absolute;
    margin-left: 149px;
    margin-top: 3px;
    transform: rotate(-3deg);
}