body{
    background-color: #150101;
    margin: 0px;
    
}
.yakuzashrine{
    width: 788.594px;
    height: 1097.980px;
    padding: 0px;
    border: 0px;
    margin-left: 294.703px;
    margin-right: 154.703px;
    display: block;
}
.box{
    height: 400px;
    background-color: #190101;
    border: 0px;
    display: block;
    width: 788.594px;
    margin-left: 294.703px;
    margin-right: 154.703px;
}
.gif{
    margin-top: -820px;
    margin-left: 800px;
    width: 160px;
    position: absolute;
}
.gif2{
      margin-top: -820px;
    margin-left: 420px;
    width: 160px;
    position: absolute;
}
.candles{
    position: absolute;
    width: 60px;
    margin-left: 780px;
    margin-top: -700px;
}
.candles2{
    position: absolute;
    width: 60px;
    margin-left: 540px;
    margin-top: -700px;
    transform: scaleX(-1);
}

.text{
/*    border-style: solid;*/
/*    border-color: white;*/
    position: absolute;
    height: 800px;
    width: 280px;
    margin-left: 570px;
    margin-top: -800px;
    text-align: center;
    color: #7c0f0f;
    font-size: 18px;
}
span{
    display: block;
}